/* navbar */
.navbar {
  background-color: #e6e6dd;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.container-fluid {
  margin-left: 20px;
  margin-right: 20px;
}

#navbarNav {
  justify-content: space-between;
}

.navbar-brand {
  font-family: 'Anton', sans-serif;
  font-size: 2rem;
  color: red;
  letter-spacing: 2px;
}

.navbar-brand:hover {
  color: red;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.nav-link:hover {
  color: black;
}

#navbar-logo {
  height: 58px;
}
